* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

// Colors

$yellow: #f9f74b;
$black: #011627;
$blue: #0081a7;
$green: #4da167;

@keyframes color-change {
  0% { color: $green; }
  25% { color: $blue; }
  50% { color: $yellow; }
  100% { color: $green; }
}

// Typography

$font-sans-bold: 'Raleway', Arial, sans-serif;
$font-sans: 'Raleway', sans-serif;

a {
  font-family: $font-sans-bold;
}
a:link,
a:visited {
  color: $green;
  text-decoration: none;
  border-bottom: 1px solid $black;
  transition: border;
}
a:active,
a:hover {
  border-bottom: 2px solid $black;
}

.big-text {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 80px;
  color: #3bc14a;
  animation: color-change 10s infinite;

}

h1 {
  font-family: $font-sans;
  font-size: 16px;
  line-height: 20px;
}

// Layout

.container {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

section {
  margin: 8px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
  font-size: 14px;
}
